Repository shiguredo/libcamera-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

[canary] Bump version to 2026.1.0-canary.0
  Cargo.lock
  Cargo.toml
Due: none

MappedPlane 型と FrameBufferRef::map_plane() を追加する
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  examples/capture.rs
  src/frame_buffer.rs
  src/lib.rs
Due: cargo-fmt

コールバック内での map_plane 使用と CI の capture テストを削除する
  .github/workflows/ci.yml
  examples/capture.rs
Due: cargo-fmt

capture.rs のコールバック内で map_plane を使う形に戻す
  examples/capture.rs
Due: cargo-fmt

不足していたコントロール型の get/set API、プロパティ API、プロパティ ID を追加する
  c-api/camera.cpp
  c-api/camera.h
  c-api/controls.cpp
  c-api/controls.h
  c-api/internal.h
  src/camera.rs
  src/controls.rs
  src/geometry.rs
  src/lib.rs
  src/property_ids.rs
Due: cargo-fmt, clang-format

sysroot の構築を cargo shiguredo-sysroot に切り替える
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .github/workflows/ci.yml
  .gitignore
  sysroot/raspberry-pi-os_armv8.json
Due: none

get_string のコンパイルエラーを修正し、C API と Rust API の宣言順序を整理する
  c-api/controls.cpp
  c-api/controls.h
  src/controls.rs
  src/lib.rs
Due: cargo-fmt, clang-format

cargo fmt の指摘を修正する
  src/controls.rs
  src/lib.rs
  src/property_ids.rs
Due: cargo-fmt

set_rectangle_array と set_point_array の Most Vexing Parse を修正する
  c-api/controls.cpp
Due: clang-format

get_string の不要な同型キャストを修正する
  src/controls.rs
Due: cargo-fmt

CI に g++-aarch64-linux-gnu を追加する
  .github/workflows/ci.yml
Due: none

sysroot の構築を cargo shiguredo-sysroot に切り替える (#2)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .github/workflows/ci.yml
  .gitignore
  sysroot/raspberry-pi-os_armv8.json
Due: none

不足していたコントロール型の get/set API、プロパティ API、プロパティ ID を追加する (#3)
  c-api/camera.cpp
  c-api/camera.h
  c-api/controls.cpp
  c-api/controls.h
  c-api/internal.h
  src/camera.rs
  src/controls.rs
  src/geometry.rs
  src/lib.rs
  src/property_ids.rs
Due: cargo-fmt, clang-format

README に Dev Containers による macOS arm64 でのビルドについて追記する
  README.md
Due: none

[canary] Bump version to 2026.1.0-canary.1
  Cargo.lock
  Cargo.toml
Due: none

cargo-shiguredo-sysroot のインストールを crates.io 経由に切り替える
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
Due: none

authors を削除する
  Cargo.toml
Due: none

.pre-commit-config.yaml を削除し、prek.toml を新規作成してフックを追加する
  .pre-commit-config.yaml
  prek.toml
Due: none

AGENTS.md の内容を更新し、レビューおよびコミットに関するガイドラインを明確にする
  AGENTS.md
Due: none

GitHub Actions の参照を commit hash 固定に更新する
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Slack 通知を shiguredo/github-actions に切り替える
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

container CLI を使った macOS 上での aarch64 クロスビルド環境を追加する
  .dockerignore
  .gitignore
  CHANGES.md
  Dockerfile.check
  Makefile
  build.rs
  docs/CONTAINER.md
  prek.toml
Due: cargo-fmt

AGENTS.md を最新版に更新する
  AGENTS.md
Due: none

[canary] Bump version to 2026.1.0-canary.2
  Cargo.lock
  Cargo.toml
Due: none

cargo update
  Cargo.lock
  Cargo.toml
Due: none

2026.1.0 をリリースする
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

shiguredo-libcamera スキルを追加する
  skills/shiguredo-libcamera/SKILL.md
Due: none

prek の検証環境を bind mount 前提に切り替える
  Dockerfile.check
  Makefile
  prek.toml
Due: none

examples/list_cameras.rs の入れ子 if を let chain に置き換える
  examples/list_cameras.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  clang-format: any of: ^c-api/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
